In [18]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
df =pd.read_csv("data_cleaned.csv")

In [20]:
df.shape

(891, 25)

In [21]:
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [22]:
df.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [23]:
df["Survived"].value_counts()/len(df)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x = df.drop(["Survived"],axis = 1)

In [26]:
y = df["Survived"]

In [27]:
# 20 % test data set

train_x1, test_x,train_y1,test_y = train_test_split(x,y,test_size=0.2,stratify = y )

In [28]:
train_x, valid_x,train_y,valid_y = train_test_split(train_x1,train_y1,test_size=0.2,stratify = train_y1 )

In [30]:
print(train_x.shape,train_y.shape)
print(valid_x.shape,valid_y.shape)
print(test_x.shape,test_y.shape)

(569, 24) (569,)
(143, 24) (143,)
(179, 24) (179,)

In [32]:
train_y.value_counts()/len(train_y)

0    0.616872
1    0.383128
Name: Survived, dtype: float64

In [33]:
valid_y.value_counts()/len(valid_y)

0    0.615385
1    0.384615
Name: Survived, dtype: float64

In [34]:
test_y.value_counts()/len(test_y)

0    0.614525
1    0.385475
Name: Survived, dtype: float64

# Above , we can see that dataset is distributed among train , validation, test.